<div class="header">
  <h1>Todo List</h1>
</div>

<div class="form">
  <form action="#">
    <input type="text" name="title" [(ngModel)]="addTaskValue" />
    <button [disabled]="!addTaskValue" (click)="addTodo()">Add new task</button>
    <input type="text" name="userId" [(ngModel)]="userIdFilter" />
    <button (click)="updateData()">Search userId</button>
    <!-- <input type="text" name="editTitle" [(ngModel)]="todo.title" /> -->
    <label for="editTitle">Change task</label>
  </form>
  <button (click)="back()">Back</button>
</div>

<div class="list">
  <ul>
    <li
      *ngFor="let todo of todos"
      class="todos {{ todo.completed ? 'done' : '' }}"
    >
      <div class="checkbox">
        <input
          type="checkbox"
          name="isCompleted"
          (click)="todo.completed = !todo.completed"
          class="checkbox-text"
          [checked]="todo.completed"
        />
      </div>
      <div class="id">
        <a [routerLink]="['/task', todo]">id: {{ todo.id }}</a>
      </div>
      <div class="todo">
        <span *ngIf="!todo.completed" class="content">{{ todo.title }}</span>
      </div>
      <div class="todo">
        <span *ngIf="todo.completed"
          ><del>{{ todo.title }}</del></span
        >
      </div>
      <div class="userId" (click)="filterDone(todo)">
        <span>userId: {{ todo.userId }}</span>
      </div>
      <!-- <button (click)="editTodo(todo.id, todo.title)">edit</button> -->
      <input [(ngModel)]="todo.title" (blur)="editTodo(todo.id, todo.title)" />
      <div class="remove" (click)="deleteTodo(todo)">Delete</div>
    </li>
  </ul>
</div>
