<div class="form">
  <form action="#">
    <input type="text" name="title" [(ngModel)]="addTaskValue" />
    <button [disabled]="!addTaskValue" (click)="addTodo()">Add new task</button>
    <input type="text" name="userId" [(ngModel)]="userIdFilter" />
    <button (click)="updateData()">Search userId</button>
  </form>
</div>

<!--todo delete-->
<ng-container *ngIf="todos$ | async as todos">
  <ng-container *ngIf="!!todos && todos.length > 0; else displayNoEntries">
    <!--    todos-->
  </ng-container>
  <ng-template #displayNoEntries>
    <!--    no entries-->
  </ng-template>
</ng-container>

<div class="container">
  <div class="example-container">
    <h2>To do</h2>

    <div
      cdkDropList
      #todoList="cdkDropList"
      [cdkDropListData]="todos"
      [cdkDropListConnectedTo]="[doneList]"
      class="example-list"
      (cdkDropListDropped)="drop($event)"
    >
      <ul>
        <li class="example-box inprogress" *ngFor="let todo of todos" cdkDrag>
          <button class="id">
            <a [routerLink]="['/tasks', todo.id]">Id: {{ todo.id }}</a>
          </button>
          <div class="todo">
            <span class="content">{{ todo.title | uppercase }}</span>
          </div>
          <button>
            <a [routerLink]="['/tasks', 'user', todo.userId]" class="userId">
              <span>userId: {{ todo.userId }}</span>
            </a>
          </button>
          <!-- <input
              [(ngModel)]="todo.title"
              (blur)="editTodo(todo.id, todo.title)"
            /> -->
          <div class="remove" (click)="deleteTodo(todo)">&#10060;</div>
        </li>
      </ul>
    </div>
  </div>

  <div class="example-container">
    <h2>Done</h2>

    <div
      cdkDropList
      #doneList="cdkDropList"
      [cdkDropListData]="done"
      [cdkDropListConnectedTo]="[todoList]"
      class="example-list"
      (cdkDropListDropped)="drop($event)"
    >
      <ul>
        <li class="example-box" *ngFor="let todo of done" cdkDrag>
          <button class="id">
            <a [routerLink]="['/tasks', todo.id]">Id: {{ todo.id }}</a>
          </button>
          <div class="todo">
            <span>{{ todo.title }}</span>
          </div>
          <button>
            <a [routerLink]="['/tasks', 'user', todo.userId]" class="userId">
              <span>userId: {{ todo.userId }}</span>
            </a>
          </button>
          <!-- <input
            [(ngModel)]="todo.title"
            (blur)="editTodo(todo.id, todo.title)"
          /> -->
          <div class="remove" (click)="deleteTodo(todo)">&#10060;</div>
        </li>
      </ul>
    </div>
  </div>
</div>
