<button (click)="logOut()">LogOut</button>

<div class="header">
  <h1>Todo List</h1>
</div>

<div class="form">
  <form action="#">
    <input type="text" name="title" [(ngModel)]="addTaskValue" />
    <button [disabled]="!addTaskValue" (click)="addTodo()">Add new task</button>
    <input type="text" name="userId" [(ngModel)]="userIdFilter" />
    <button (click)="updateData()">Search userId</button>
  </form>
  <button (click)="back()">Back</button>
</div>

<!--todo delete-->
<ng-container *ngIf="todos$ | async as todos">
  <ng-container *ngIf="!!todos && todos.length > 0; else displayNoEntries">
    <!--    todos-->
  </ng-container>
  <ng-template #displayNoEntries>
    <!--    no entries-->
  </ng-template>
</ng-container>

<div class="list">
  <ul>
    <li
      *ngFor="let todo of todos"
      class="todos {{ todo.completed ? 'done' : '' }}"
    >
      <div class="checkbox">
        <input
          type="checkbox"
          name="isCompleted"
          (click)="todo.completed = !todo.completed"
          class="checkbox-text"
          [checked]="todo.completed"
        />
      </div>
      <div class="id">
        <a [routerLink]="['/tasks', todo.id]">id: {{ todo.id }}</a>
      </div>
      <div class="todo">
        <span *ngIf="!todo.completed" class="content">{{ todo.title }}</span>
      </div>
      <div class="todo">
        <span *ngIf="todo.completed"
          ><del>{{ todo.title }}</del></span
        >
      </div>
      <a [routerLink]="['/tasks', 'user', todo.userId]" class="userId">
        <span>userId: {{ todo.userId }}</span>
      </a>
      <!-- <button (click)="editTodo(todo.id, todo.title)">edit</button> -->
      <input [(ngModel)]="todo.title" (blur)="editTodo(todo.id, todo.title)" />
      <div class="remove" (click)="deleteTodo(todo)">Delete</div>
    </li>
  </ul>
</div>
